body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#error-container {
  position: absolute;
  left: 50%;
  top: 0;
  width: 20%;
  height: 10%;
  background-color: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #ff0000;
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;
  transform: translate(-50%, -101%);
  transition: transform 400ms;
}

#error-container.shown {
  transform: translate(-50%, 0);
}

#error-message {
  text-align: center;
  color: #000000;
  font-size: larger;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  height: 100%;
  width: 100%;
}

input,
button {
  font-size: x-large;
  padding: 0.8rem;
  color: #000000;
  background-color: #ededed;
  border: none;
  outline: none;
}

input::placeholder {
  color: #7f7f7f;
}

input {
  border-radius: 1rem;
  width: 20vw;
}

button {
  border-radius: 1.5rem;
  margin-top: 2vh;
  font-weight: bold;
  min-width: 10vw;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

button:hover {
  background-color: #c3c3c3;
}

button:active {
  background-color: #8d8d8d;
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  #error-container {
    width: 50%;
  }

  #error-message {
    padding: 0 2vw;
  }

  input {
    width: 60vw;
  }

  button {
    min-width: 40vw;
  }
}
