#flex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

hr {
  width: 20vw;
  border-color: #ededed;
  border-style: none;
  border-top-style: solid;
  border-top-width: 0.1rem;
}

p {
  color: #ededed;
  font-size: larger;
}

a {
  text-decoration: none;
  color: #000000;
}

#signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  hr {
    width: 60vw;
  }
}