.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Map */

#map {
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}

/* Danger Info */

#danger-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0 0 7px 1px #737373;
  border-bottom-right-radius: 1rem;
  display: none;
}

#danger-info.expanded {
  display: flex;
  flex-direction: column;
}

#danger-info .xmark {
  align-self: flex-end;
  padding: 0.5rem 0.5rem 0 0;
}

#danger-info .fa-xmark {
  font-size: 1.7rem;
  cursor: pointer;
  transition: color 150ms ease-in-out;
}

#danger-info .fa-xmark:hover {
  color: #cc0000;
}

#danger-info .fa-xmark:active {
  color: #8f0000;
}

#danger-info .bookmark {
  justify-self: flex-end;
  margin-bottom: 10%;
}

#danger-info .fa-bookmark {
  font-size: 1.7rem;
  cursor: pointer;
}

#danger-info .fa-bookmark.hidden {
  display: none;
}

#address {
  font-size: 1.5rem;
  align-self: center;
  text-align: center;
  text-wrap: wrap;
  margin-bottom: 10%;
  padding: 0 2vw;
}

#danger-level {
  width: 40%;
  min-height: 5vh;
  margin-bottom: 3vh;
  align-self: center;
  border-radius: 2rem;
  text-align: center;
  padding-top: 0.7rem;
}

/* Searchbox */

#searchbox-container {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 0 7px 1px #737373;
}

#searchbox,
#searchbox-input,
#searchbox-input-options {
  background-color: #ffffff;
  font-size: 1.2rem;
}

#searchbox,
#searchbox-input-options,
#searchbox-input-options > .searchbox-input-option:last-child {
  border-radius: 0 0 1rem 1rem;
}

#searchbox,
#searchbox-input-options {
  width: 100%;
  border: none;
  outline: none;
}

#searchbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5.5vh;
}

#searchbox.expanded {
  border-radius: 0;
}

#searchbox-input {
  flex: 8;
  border: none;
  outline: none;
}

#searchbox .icon-container {
  flex: 1;
}

#searchbox .magnifying-glass {
  margin-left: 0.3vw;
}

#searchbox .xmark {
  cursor: pointer;
  margin-right: 0.3vw;
}

#searchbox-input-options {
  display: none;
  border: none;
}

#searchbox-input-options.expanded {
  display: block;
}

#searchbox-input-options hr {
  border-color: #a6a6a6;
  border-style: none;
  border-top-style: solid;
  border-top-width: 0.1rem;
}

.searchbox-input-option {
  padding: 1vh 2vw;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

.searchbox-input-option:hover {
  background-color: #d2d2d2;
}

.searchbox-input-option:active {
  background-color: #ababab;
}

/* Menu */

#menu-trigger {
  height: 5.5vh;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 1.5%;
  right: 1%;
  z-index: 1000;
  background-color: #684300;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 50%;
  box-shadow: 0 0 5px #737373;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#menu {
  width: 10%;
  background-color: #ffffff;
  position: absolute;
  top: 8%;
  right: 1%;
  z-index: 1000;
  border-radius: 0.4rem;
  box-shadow: 0 0 5px #737373;
  display: none;
}

#menu.expanded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.menu-option {
  list-style-type: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.7rem 0 0.7rem 0.7rem;
}

#menu-options > a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  transition: background-color 150ms ease-in-out;
}

#menu-options > a:hover {
  background-color: #d2d2d2;
}

#menu-options > a:active {
  background-color: #ababab;
}

#menu-options a:first-child {
  border-radius: 0.4rem 0.4rem 0 0;
}

#menu-options a:last-child {
  border-radius: 0 0 0.4rem 0.4rem;
}

#menu-options > hr {
  width: 100%;
  align-self: center;
  border-color: #a6a6a6;
  border-style: none;
  border-top-style: solid;
  border-top-width: 0.1rem;
}

/* Danger Legend */

#danger-legend {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 16%;
  height: 13%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  border-top-right-radius: 7px;
}

#danger-legend-title {
  font-size: 1.1rem;
  color: #ffffff;
}

#green-red-spectrum {
  width: 100%;
  height: 100%;
}

.danger-legend-child {
  height: 25%;
  width: 80%;
}

.danger-legend-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.danger-legend-child:nth-of-type(3) {
  gap: 60%;
}

#high-danger,
#low-danger {
  font-size: 1.1rem;
  color: #ffffff;
}

/* FOR PHONES */

@media screen and (min-width: 320px) and (max-width: 430px) {
  body {
    overflow-y: hidden;
  }

  /* Danger Info */

  #danger-info::before {
    content: "";
    display: block;
    width: 15vw;
    height: 0.7vh;
    background-color: #979797;
    border-radius: 0.2rem;
    margin: 1.5vh auto 5vh;
  }

  #danger-info {
    touch-action: none;
    position: fixed;
    top: auto;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    transition: transform 400ms ease;
  }

  #danger-info.hidden {
    transform: translateY(calc(100% - 6vh));
  }

  #danger-info .xmark {
    display: none;
  }

  #address {
    font-size: 1.2rem;
    padding: 0 7vw;
  }

  #danger-level {
    min-height: 6vh;
  }

  /* Searchbox */

  #searchbox-container {
    top: 2%;
    left: 2%;
    transform: translateX(0);
    width: calc(100% - 5.5vh - 6%);
    border-radius: 1rem;
  }

  #searchbox,
  #searchbox-input-options,
  #searchbox-input-options > .searchbox-input-option:last-child {
    border-radius: 1rem;
  }

  #searchbox.expanded {
    border-radius: 1rem 1rem 0 0;
  }

  #searchbox-input {
    max-width: 78%;
  }

  #searchbox-input-options {
    border-radius: 0 0 1rem 1rem;
    padding: 0 0.5rem;
  }

  /* Menu */

  #menu-trigger {
    top: 2%;
    right: 2%;
  }

  #menu {
    width: 40%;
    top: 9%;
    right: 3%;
  }

  /* Danger Legend */

  #danger-legend {
    display: none;
  }
}
