<!-- Map -->
<div id="map"></div>
<!-- Danger Info -->
<div id="danger-info">
  <div id="xmark" class="icon-container">
    <i class="fa-solid fa-xmark"></i>
  </div>
  <div id="bookmark" class="icon-container">
    <i class="fa-regular fa-bookmark"></i>
  </div>
  <div id="address"></div>
  <div id="danger-level"></div>
</div>
<!-- Searchbox -->
<div id="searchbox-container">
  <div id="searchbox">
    <div id="magnifying-glass" class="icon-container">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <input type="text" id="searchbox-input" placeholder="Enter address" />
  </div>
  <div id="searchbox-input-options"></div>
</div>
<!-- Menu -->
<div id="menu-trigger"><%= username.charAt(0).toUpperCase() %></div>
<div id="menu">
  <ul id="menu-options">
    <a href="/saved-locations">
      <li class="menu-option">Saved</li>
    </a>
    <hr />
    <a href="/auth/logout">
      <li class="menu-option">Log out</li>
    </a>
  </ul>
</div>
<!-- Danger Legend -->
<div id="danger-legend">
  <div class="danger-legend-child">
    <p id="danger-legend-title">Danger Level</p>
  </div>
  <div class="danger-legend-child">
    <img
      id="green-red-spectrum"
      src="/assets/green-red-spectrum.png"
      alt="green-red-spectrum"
    />
  </div>
  <div class="danger-legend-child">
    <p id="low-danger">Low</p>
    <p id="high-danger">High</p>
  </div>
</div>
