<% if (locations.length === 0) { %>
<div id="no-data">No saved locations yet!</div>
<% } %>
<div id="saved-container">
  <ul id="saved-list">
    <% locations.forEach(location => { %>
    <li class="saved-item">
      <div class="address"><%= location.address %></div>
      <div
        class="danger-level"
        data-danger-level="<%= location.dangerLevel.join(',') %>"
      ></div>
      <div class="trash-icon-container"><i class="fa-solid fa-trash"></i></div>
    </li>
    <% }); %>
  </ul>
</div>
